@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  font-family: "Roboto";
  
}
body{
  overflow-x: hidden;
}
.--dark {
  background-color: rgb(31, 29, 29);
}

.mt {
  margin-top: 45px;
}

.title_command {
  border-bottom: 2px solid #66ff99;
  width: 65px;
  padding-bottom: 10px;
  font-weight: lighter;
  text-transform: uppercase;
}

header {
  background-color: white;
  width: 100%;
  text-align: center;
  box-shadow: 10px 0px 10px;
}
header i {
  position: relative;
  right: 50px;
  cursor: pointer;
  color: #000;
}
header i:hover {
  color: #9356DC;
}
header .header__img {
  width: 30%;
  padding: 15px;
}

.background_img {
  background-image: url("../img/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
  background-position: center center;
  -o-object-fit: cover;
     object-fit: cover;
  background-size: 100%;
  padding: 20%;
}

.btn_command_bloc {
  text-align: center;
}
.btn_command_bloc .btn {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}
.btn_command_bloc .--reserve {
  background: linear-gradient(to top, #9356DC, #FF79DA);
  padding: 25px;
  border-radius: 50px;
  border: none;
  color: white;
  font-weight: 900;
  font-size: 15px;
  box-shadow: 6px 6px 6px #dfdfdf;
  width: 80%;
}
.btn_command_bloc .--reserve:hover {
  background: linear-gradient(to bottom, rgba(146, 86, 220, 0.5333333333), rgba(255, 121, 217, 0.5843137255));
  transition: 0.7s;
}

@-webkit-keyframes rotation {
  from {
    opacity: 0%;
    transform: rotate(0deg);
  }
  10% {
    opacity: 0%;
  }
  20% {
    opacity: 10%;
  }
  to {
    opacity: 100%;
    transform: rotate(359deg);
  }
}

@keyframes rotation {
  from {
    opacity: 0%;
    transform: rotate(0deg);
  }
  10% {
    opacity: 0%;
  }
  20% {
    opacity: 10%;
  }
  to {
    opacity: 100%;
    transform: rotate(359deg);
  }
}
main {
  background-color: whitesmoke;
  border-radius: 30px;
  padding: 20px;
  position: relative;
  bottom: 50px;
}
main h1 {
  display: flex;
  justify-content: space-between;
  font-weight: 900;
  align-items: center;
}
main h1 div {
  cursor: pointer;
  font-size: 25px;
}
main h1 div .add_favoris {
  display: none;
}
main h1 div:hover .add_favoris {
  display: block;
  color: #9c47fc;
  background: -webkit-linear-gradient(rgba(146, 86, 220, 0.7568627451), rgba(255, 121, 217, 0.5843137255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
main h1 div:hover .not_favoris {
  display: none;
  transition: 5.2s;
}
main .contend {
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
}
main .contend .bloc {
  width: 100%;
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@-webkit-keyframes apparitionBloc {
  0% {
    opacity: 0;
    margin-top: -25px;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes apparitionBloc {
  0% {
    opacity: 0;
    margin-top: -25px;
  }
  100% {
    opacity: 100%;
  }
}
main .contend .bloc .bloc__items {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  margin-top: 10px;
  box-shadow: 6px 6px 6px #dfdfdf;
  -webkit-animation: apparitionBloc 3s;
          animation: apparitionBloc 3s;
  cursor: pointer;
  width: 30%;
  opacity: 100%;
}
main .contend .bloc .bloc__items:hover .command_success {
  width: 65px;
  transition: 1.5s;
}
main .contend .bloc .bloc__items:hover .command_success i {
  -webkit-animation: rotation 1.5s;
          animation: rotation 1.5s;
  display: block;
}
main .contend .bloc .bloc__items .bloc__body {
  font-size: smaller;
  margin-left: 15px;
}
main .contend .bloc .bloc__items .price__body {
  display: flex;
  align-items: center;
}
main .contend .bloc .bloc__items .command_success {
  cursor: pointer;
  background-color: #66ff99;
  border-radius: 0px 20px 20px 0px;
  width: 0px;
}
main .contend .bloc .bloc__items .price {
  font-weight: bold;
  padding-bottom: 25px;
  padding-top: 25px;
  padding-right: 10px;
}
main .contend .bloc .bloc__items i {
  width: 0px;
  margin: 25px;
  color: white;
  display: none;
}
main .contend .bloc .bloc__items p {
  font-weight: lighter;
}

footer {
  margin-top: 40px;
}
footer ul {
  color: whitesmoke;
  padding: 10px;
}
footer ul .list__img {
  width: 50%;
}
footer ul .list__img > img {
  margin-bottom: 10px;
}
footer ul .list__items {
  padding: 2px;
}
footer .marker_footer {
  margin-right: 5px;
}

@media (max-width: 768px) {
  .contend {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .bloc {
    display: block !important;
  }
  .bloc__items {
    width: 100% !important;
  }
}/*# sourceMappingURL=view-menilmontant.css.map */