@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  font-family: "Roboto";
  
}

@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes loaderNone {
  from {
    opacity: 100%;
  }
  50% {
    opacity: 50%;
    display: none;
  }
}
@keyframes loaderNone {
  from {
    opacity: 100%;
  }
  50% {
    opacity: 50%;
    display: none;
  }
}
.contend_loader {
  width: 90%;
  background-color: #66ff99;
  height: 100%;
  position: absolute;
  text-align: center;
  opacity: 0%;
  -webkit-animation: loaderNone 5s;
          animation: loaderNone 5s;
  display: flex;
  align-items: center;
  padding-left: 10%;
}
.contend_loader > span {
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
  background-color: rgba(0, 122, 41, 0.5882352941);
  color: white;
  display: flex;
  align-items: center;
}
.contend_loader > span .loader {
  border: 6px solid #f1ecec;
  border-radius: 50%;
  border-top: 6px solid #66ff99;
  width: 20px;
  height: 20px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  margin-left: 10px;
}

@-webkit-keyframes apparitionBloc {
  0% {
    opacity: 0;
    margin-top: -25px;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes apparitionBloc {
  0% {
    opacity: 0;
    margin-top: -25px;
  }
  100% {
    opacity: 100%;
  }
}
.--light {
  font-weight: lighter;
}

.btn {
  margin-top: 20px;
}

.container {
  max-width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.--dark {
  background-color: rgb(31, 29, 29);
}

.--pink {
  color: #9356DC;
}

header {
  background-color: white;
  width: 100%;
  text-align: center;
  box-shadow: 10px 0px 10px;
}
header .header__img {
  width: 20%;
  padding: 15px;
}

.link {
  text-align: center;
  padding: 20px;
  background: rgba(163, 163, 163, 0.688);
  margin-bottom: 10px;
}
.link .link__items {
  text-decoration: none;
  color: #000;
  font-weight: 900;
  font-size: larger;
}
.link .link__items .marker {
  margin-right: 5px;
}

main .reservation {
  margin-top: 180px;
  text-align: center;
}
main .reservation h1 {
  font-weight: 900;
  font-size: 25px;
}
main .reservation p {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: larger;
  font-weight: lighter;
}
main .reservation .--reserve {
  background: linear-gradient(to bottom, #9356DC, #FF79DA);
  padding: 25px;
  border-radius: 50px;
  border: none;
  color: white;
  font-weight: 900;
  font-size: 15px;
  box-shadow: 6px 6px 6px #dfdfdf;
  width: 25%;
}
main .reservation .--reserve:hover {
  background: linear-gradient(to bottom, rgba(146, 86, 220, 0.5333333333), rgba(255, 121, 217, 0.5843137255));
  transition: 0.7s;
}

.main__bloc {
  margin-top: 205px;
  margin-left: 10%;
  margin-right: 10%;
}
.main__bloc .bloc .bloc__items {
  padding: 20px;
  margin: 20px;
  box-shadow: 6px 6px 6px #dfdfdf;
  background-color: white;
  border-radius: 15px;
  font-weight: bold;
  -webkit-animation: apparitionBloc 3s;
          animation: apparitionBloc 3s;
}
.main__bloc .bloc .bloc__items .bloc__items--link {
  text-decoration: none;
  color: #000;
}
.main__bloc .bloc .bloc__items .bloc__items--link > span {
  color: white;
  background-color: #9356DC;
  padding: 5px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 100%;
  margin-left: -20px;
}
.main__bloc .bloc .bloc__items .bloc__items--link > i {
  margin-left: 10px;
  margin-right: 10px;
}

.restaurant {
  margin-top: 150px;
  margin-right: 10%;
  margin-left: 10%;
}
.restaurant .card__bloc {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.restaurant .card__bloc .card {
  border-radius: 20px;
  box-shadow: 6px 6px 6px #dfdfdf;
  margin-top: 15px;
  width: 45%;
}
.restaurant .card__bloc .card > span {
  background-color: #66ff99;
  color: #007a29;
  position: relative;
  bottom: 220px;
  left: 80%;
  padding: 5px;
  border-radius: 3px;
}
.restaurant .card__bloc .card .card__img {
  border-radius: 20px 20px 0px 0px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 250px;
}
.restaurant .card__bloc .card .card__body {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.restaurant .card__bloc .card .card__body > i {
  font-size: large;
  cursor: pointer;
  color: #000;
}
.restaurant .card__bloc .card .card__body > i:hover {
  background-color: #9356DC;
}
.restaurant .card__bloc .card .card__body .card_link {
  text-decoration: none;
  color: #000;
}

.favoris {
  cursor: pointer;
  font-size: x-large;
}
.favoris:hover .add_favoris {
  display: block;
}
.favoris:hover .not_favoris {
  display: none;
}
.favoris .add_favoris {
  color: #9356DC;
  background: -webkit-linear-gradient(rgba(146, 86, 220, 0.7568627451), rgba(255, 121, 217, 0.5843137255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: none;
}

footer {
  margin-top: 40px;
}
footer ul {
  color: whitesmoke;
  padding: 10px;
}
footer ul .list__img {
  width: 50%;
}
footer ul .list__img > img {
  margin-bottom: 10px;
}
footer ul .list__items {
  padding: 2px;
}
footer .marker_footer {
  margin-right: 5px;
}

@media (max-width: 768px) {
  header .header__img {
    width: 90%;
    padding: 15px;
  }
  main .reservation {
    margin-top: 40px;
  }
  main .reservation .--reserve {
    width: 100%;
  }
  .main__bloc {
    margin-top: 140px;
    margin-left: 0;
    margin-right: 0;
  }
  .main__bloc .bloc .bloc__items .bloc__items--link > span {
    left: 25px;
  }
  .restaurant {
    margin-left: 0;
    margin-right: 0;
  }
  .restaurant .card__bloc {
    display: block;
  }
  .restaurant .card__bloc .card {
    width: 100%;
  }
  .restaurant .card__bloc .card > span {
    left: 75%;
  }
}
@media (max-width: 948px) {
  .card {
    border-radius: 20px;
    box-shadow: 6px 6px 6px #dfdfdf;
    margin-top: 15px;
    width: 45%;
  }
  .card > span {
    left: 75% !important;
  }
}/*# sourceMappingURL=view-note-echantee.css.map */