$color-white:white;
$color-black:#000;
$bg-grey: rgba(163, 163, 163, 0.688); 

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

// fontawesome 
@import "./fontawesome/scss/fontawesome.scss";

@import "./fontawesome/scss/solid.scss";
@import "./fontawesome/scss/brands.scss";
@import "./fontawesome/scss/regular.scss";

*{
    font-family: 'Roboto';
}
.--dark{
    background-color: rgb(31, 29, 29);
}
.mt {
    margin-top: 20px;
}

.title_command{
    border-bottom: 2px solid #66ff99;
    width: 65px;
    padding-bottom: 10px;
    font-weight: lighter;
    text-transform: uppercase;
}

// Header
header{
    background-color: $color-white;
    width: 100%;
    text-align: center;
    box-shadow: 10px 0px 10px;
    i{
        position: relative;
        right: 50px;
        cursor: pointer;
        color: #000;
        &:hover{
            color: #9356DC;
        }
    }

    .header__img{
       width: 50%;
       padding: 15px;
      
    }
}
.background_img{
    
    background-image: url("../img/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
    background-position: center center;
    object-fit:cover;
    background-size: 100%;
    padding: 20%;
}
// Button
.btn_command_bloc{ 
    text-align: center;
.btn{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}
.--reserve{
    background: linear-gradient(to top,#9356DC , #FF79DA);
    padding: 25px;
    border-radius: 50px;
    border: none;
    color: white;
    font-weight:  900;
    font-size: 15px;
    box-shadow: 6px 6px 6px #dfdfdf;
    width: 80%;
 &:hover{
    background:linear-gradient(to bottom,#9256dc88 , #ff79d995) ;
    transition: 0.7s;
 }
}
}

// ------ANIMATIONS------

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

// main 
main{
    background-color:whitesmoke;

    border-radius: 30px;
    padding: 20px;
    position: relative;
    bottom: 50px;
    h1{
        display: flex;
        justify-content: space-between;
        font-weight: 900;
        align-items: center;
        div{
            cursor: pointer;
            font-size: 25px;
            .add_favoris{
                
                display: none;
                
                
             }
           &:hover{
                .add_favoris{
                    display: block;
                  
                   
                    color: #9c47fc;
                    background: -webkit-linear-gradient(#9256dcc1, #ff79d995);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
    
                }
                .not_favoris{
                    display: none;
                     transition: 5.2s;
                }
            }
    
          
        }
        
    }

    .contend{
        margin-top: 50px;
        
        .bloc{
            width: 100%;
            margin-top: 45px;
         
        .bloc__items{

            background-color: $color-white;
            display: flex;
            justify-content: space-between;
            align-items: center; 
            border-radius: 20px;
            margin-top: 10px;
            box-shadow: 6px 6px 6px #dfdfdf;
            cursor: pointer;

            &:hover{
                
                .command_success{
                    width: 65px ;
                    transition: 1.5s;
                    i{
                        background-color: red;
                        animation: rotation 1.5s ;
                       
                    }
                    
                }
            }
            .bloc__body{
                font-size: smaller;
                margin-left: 15px;
            } .price__body{

                    display: flex;
                    align-items: center;
             
                    
            }
            
            .command_success{
                 
                cursor: pointer;
                background-color: #66ff99;
                border-radius: 0px 20px 20px 0px;
                width: 0px;
               
            }
            .price{
                font-weight: bold;
                padding: 10px;
                
            }
            i{
                width: 0px;
                margin: 25px;
                color: white;
               
            }
            
            p{
                font-weight: lighter;
            }
        }

        }
    }
}


// Footer 
footer{
    margin-top: 40px;
    ul{
        color: whitesmoke;
        padding: 10px;
        .list__img{
            width: 50%;
            >img{
               
                margin-bottom: 10px;
            }

        }
        .list__items{
            padding: 2px;

        }
    }
      .marker_footer{
        margin-right: 5px;
      }  
    
}